@import "~tufte-css/tufte.css";

p.meta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1;
}

.gist {
  width: 55%;
}

@media (max-width: 760px) {
  .gist {
    width: 100%;
  }
}

figure iframe {
  max-width: 100%;
}

.highlight {
  background: rgba(17, 17, 17, 0.3);
}

@media (prefers-color-scheme: dark) {
  .highlight {
    background: rgba(221, 221, 221, 0.3);
  }
}

footer p span {
  margin-right: 1em;
}

pre {
  background-color: rgba(127, 127, 127, 0.1);
  padding: 1em;
  overflow-x: scroll;
  width: 100%;
}
